/* * {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
} */
body {
  background-color: gray;
}

input {
  outline: none;
  border: none;
}

.tab-bar {
  /* position: fixed; */
  position: fixed;
  bottom: 0;
  left: 0;
  background-color: #4d4d4d;
  width: 100%;
  display: flex;
  justify-content: space-around;
  box-shadow: 0 -2px 12px rgba(0, 0, 0, 0.5);
}

.tab {
  padding: 1em;
  color: #76a8ff;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  flex-basis: 25%;
  transition: all 0.15s ease-out;
}

.tab i {
  margin-bottom: 0.5em;
  font-size: 1.25em;
  transition: all 0.15s ease-out;
}

.tab span {
  font-size: 0.65em;
  text-transform: uppercase;
}

.tab:hover i {
  color: #e5f3ff;
  transform: scale(1.1);
}

.tab.current {
  border-bottom: 6px solid #76a8ff;
  padding-bottom: calc(1em - 6px);
}

.limiter {
  width: 100%;
  margin: 0 auto;
}

.container-register {
  /* margin-top: 5em; */
  /* height: 50%; */
  /* padding-top: 5em; */
  width: 100%;
  min-height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  /* align-items: center; */
  /* padding-top: 30px; */
  padding: 15px;
  /* padding: 0px; */
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  ;
}

.container-login {
  width: 100%;
  min-height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 15px;
  /* background-position: center;
  background-size: cover;
  background-repeat: no-repeat;; */
}

.wrap-login {
  width: 680px;
  /* height: 600px; */
  /* width: 680px; */
  height: 40%;
  /* width: 40%; */
  background: #fff;
  border-radius: 10px;
  position: relative;
}

/*==================================================================
[ Form ]*/
.login-form {
  width: 100%;
  /* height: 50%; */
}

.login-form-title {
  width: 100%;
  display: block;
  font-family: Kanit;
  font-size: 39px;
  color: #555555;
  line-height: 1.2;
  text-align: center;
}

.wrap-input {
  width: 100%;
  position: relative;
  background-color: #f7f7f7;
  border: 1px solid #e6e6e6;
  border-radius: 10px;
}

/*---------------------------------------------*/
.input {
  font-family: Kanit;
  color: #333333;
  line-height: 1.2;
  font-size: 18px;
  display: block;
  width: 100%;
  background: transparent;
  height: 40px;
  padding: 0 20px;
}

/*------------------------------------------------------------------
[ Focus Input ]*/
.focus-input {
  position: absolute;
  display: block;
  width: calc(100% + 2px);
  height: calc(100% + 2px);
  top: -1px;
  left: -1px;
  pointer-events: none;
  border: 1px solid #fc00ff;
  border-radius: 10px;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
  -webkit-transform: scaleX(1.1) scaleY(1.3);
  -moz-transform: scaleX(1.1) scaleY(1.3);
  -ms-transform: scaleX(1.1) scaleY(1.3);
  -o-transform: scaleX(1.1) scaleY(1.3);
  transform: scaleX(1.1) scaleY(1.3);
}

.input:focus+.focus-input {
  visibility: visible;
  opacity: 1;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
}

.eff-focus-selection {
  visibility: visible;
  opacity: 1;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
}

/*------------------------------------------------------------------
[ Button ]*/
.container-login-form-btn {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
}

.login-form-btn {
  cursor: pointer;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  width: 100%;
  height: 60px;
  background-color: #464646;
  /* background-color: #333333; */
  border-radius: 10px;
  font-family: Kanit;
  font-size: 16px;
  color: #fff;
  line-height: 1.2;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
  position: relative;
  z-index: 1;
}


@media (max-width: 768px) {
  .wrap-login {
    padding-left: 60px;
    padding-right: 60px;
  }
  .table-responsive !important{
    height: 400px;
  }
}
@media (max-height: 500px) {
  .table-responsive !important{
    height: 400px;
  }
}

  @media (max-width: 576px) {
    .wrap-login {
      padding-left: 15px;
      padding-right: 15px;
    }
  }
